<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="_25">
    <%= f.label :Start_Area %>
    <%= f.select :p_area, options_for_select([["Select Area", ""], "Rajinder Nagar", "Patel Nagar", "Rohini"])%>
    <br>
  </div>
  <div class="_25">
    <%= f.label :Start_Sub_Area %>
    <%= f.select :p_sub_area, options_for_select([["Select sub-area", ""], "lol1", "lol2", "cd1","cd2","cd3"])%>
    <br>
  </div>
  <div class="_25">
    <%= f.label :Enter_Destination_Area %>
    <%= f.select :d_area, options_for_select([["Select Area", ""], "Rajinder Nagar", "Patel Nagar", "Rohini"])%>
    <br>
  </div>
  <div class="_25">
    <%= f.label :Destination_Sub_Area %>
    <%= f.select :d_sub_area, options_for_select([["Select sub-area", ""], "lol1", "lol2", "cd1","cd2","cd3"])%>
    <br>
  </div>
  
  <div class="field">
    <%= f.hidden_field :requester_id, :value => current_user.id%>
  </div>
  
  <div class="_50">
    <%= f.label :Pick_up_time %>
    <%= f.time_field :p_time %>
  </div>
  
  <div class="field">
    <%= f.hidden_field :status %>
  </div>
  
  <div class="_50">
    <%= f.label :Return_Time %>
    <%= f.time_field :r_time %>
  <br>
  <br>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
