<%content_for :display_supply do%>
<section id="main" class="container 75%">
<p id="notice"><%= notice %></p>
<h1 style="font-size: 270%;">Listing Supplies</h1>

<table style="border: double;">
  <thead>
    <tr>
      <th>Car Owner</th>
      <th>Starting Location</th>
      <th>Destination</th>
      <th>Journey Start Time</th>
      <th>Car</th>
      <th>Cost/Traveller</th>
      <th>Available Seats</th>
      <th>Seats Left</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @supplies.each do |supply| %>
      <tr>
        <td><%= supply.id %></td>
        <td><%= supply.p_area%>,<br><%=supply.p_sub_area %></td>
        <td><%= supply.d_area%>, <br><%=supply.d_sub_area %></td>
        <td><%= supply.p_time %></td>
        <td><%= supply.car %></td>
        <td><%= supply.rate_per_traveller %></td>
        <td><%= supply.s_available %></td>
        <td><%= supply.s_left %></td>
        <td><%= link_to 'Show', supply %></td>
        <td><%= link_to 'Edit', edit_supply_path(supply) %></td>
        <td><%= link_to 'Destroy', supply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
Did not find your ride? Put up a request and we'll find you one!
<%= link_to 'Request!', new_request_path%>
<br>
<%= link_to 'New Supply', new_supply_path %>
</section>
<%end%>