<!DOCTYPE html>
<html>
<head>
  <title>MiniProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'js/ie/html5shiv.js' %>
  <%= javascript_include_tag 'js/ie/respond.min.js' %>
  <%= javascript_include_tag 'js/jquery.dropotron.min.js' %>
  <%= javascript_include_tag 'js/jquery.min.js' %>
  <%= javascript_include_tag 'js/jquery.scrollgress.min.js' %>
  <%= javascript_include_tag 'js/main.js' %>
  <%= javascript_include_tag 'js/skel.min.js' %>
  <%= javascript_include_tag 'js/util.js' %>
  <%= stylesheet_link_tag "/css/main.css" %>
  <%= stylesheet_link_tag "/css/ie8.css" %>
  <%= csrf_meta_tags %>
  <script src="js/ie/html5shiv.js"></script>
<link rel="stylesheet" href="css/main.css" />
<link rel="stylesheet" href="css/ie8.css" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<header id="header" class="alt">
					<h1 >Make My Ride</h1>
					<nav id="nav">
						<ul>
							<li><%=link_to "Home", root_path%></li>
							<li>
								<a href="#" class="icon fa-angle-down">Options</a>
								<ul>
									<li><%= link_to "Make My Ride?", home_generic_path%></li>
									<li><%= link_to "Contact", home_contact_path%></li>
									<li><%= link_to "About Us", home_elements_path%></li>
									<li>
										<a href="#">Find Rides?</a>
										<ul>
											<li><a href="/supplies">For regular office ride</a></li>
											<li><a href="/supplies">For a single trip</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Have a Ride to Offer?</a>
										<ul>
											<li><a href="/supplies/new">For regular office ride</a></li>
											<li><a href="/supplies/new">For a single trip</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" class="icon fa-angle-down">My Account</a>
								<ul>
									<li><%= link_to "Account Details", edit_user_registration_path%></li>
								<li><%= link_to "Sign Out?", destroy_user_session_path, method: :delete%>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
				</header>

<body class="landing">
		<div id="page-wrapper">
			<!-- Banner -->
				<section id="banner">
							<h2>Welcome <%= current_user.name%> !<br /> </h2>	
				</section>
			<!-- Main -->
				<section id="main" class="container">
					<section class="box special">	
						<header class="major">
						<br>
						<br>
						<br>
						<br>
						<br>
							<%=yield :edit_display%>
							<%= yield :display_supply%>
							<%= yield :new_supply%>	

						</header>
					</section>

					<div class="row">
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
								<h3>Why you should share a ride?</h3>
								<p>Ridesharing is the most economical and pragmatic mode of travel in the bustling lives of citizens of a metropolitan like Delhi, Mumbai, Banglore et cetera.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
								<h3>Why MakeMyRide?</h3>
								<p>Offering a solution to commuters without a private mode of conveyance, MakeMyRide is a one-stop portal for all your ridesharing needs.</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Sign up for Offers</h2>
					<p>Interested in MakeMyRide's exclusive offers? Enter your email below and get riding.</p>

					<form>
						<div class="row uniform 50%">
							<div class="8u 12u(mobilep)">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="4u 12u(mobilep)">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>

				</section>
		</div>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrollgress.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

</body>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; MakeMyRide. All rights reserved.</li>
					</ul>
				</footer>

</html>
